body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4fff4;
  color: #2c3e50;
}

.header {
  background:white;
  color: #2e7d32;
  padding: 20px;
  text-align: center;
}

h1{
    font-size: 60px;
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.logo {
  width: 100px;
  height: auto;
}

.vi{  
  font-size: 48px;
  color: #4f7f2f;
  margin: 0;
}

.tagline {
  margin-top: 8px;
  font-size: 25px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align:center;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h2 {
  color: #2e7d32;
}

footer {
  background: #2e7d32;
  text-align: center;
  padding: 15px;
}

.content {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

.info-card {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 6px solid #4f7f2f;
  border-radius: 8px;
}

.info-card h2 {
  color: #2e7d32;
}

.back-btn {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background: #2e7d32;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
}

